<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Movies</title>
</head>

<body>
    <div class="container">
        <div id="menu" class="menu cf"></div>
        <h1> Hello World. </h1>
            <div id="content"></div>
    </div>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/backbone/backbone-min.js"></script>
    <script type="text/html" id="hello-template">
			<p>The ID is <%= id %></p>
			<p>The content is <%= content %></p>
		</script>
</body>
</html